    <div class="content">
      <div class="page-header">
        <h1>QA Tools<small></small></h1>
      </div>
      <div class="row">
        <div class="span10">
          <h2>Use a Tool</h2>
          <ul>
            <h3><li><a href="/wipe">Wipe</a></li></h3>
            <h3><li><a href="/wipe">Wipe</a></li></h3>
            <h3><li><a href="/wipe">Wipe</a></li></h3>
          </ul>
        </div>
        <div class="span4">
          <h3>Key</h3>
          <h5>Wipe</h5>
          Use wipe to delete a Shelby account. All user data including personal information, authentications and all broadcasts will be <em> deleted permanently </em>. Use with care. 
        </div>
      </div>
    </div>
