    <div class="content">
      <div class="page-header">
        <h1>Home <small>shelby qa tools</small></h1>
      </div>
      <div class="row">
        <div class="span10">
          <div class="alert-message block-message info span6">
            <p>
              <strong> Wipe </strong>
              delete a Shelby user
            </p>
            <div class="alert-actions">
              <a class="btn small" href="/wipe"> Use Wipe </a>
            </div>
          </div>
        </div>
        <div class="span4">
          <h5>Wipe</h5>
          Use wipe to delete a Shelby account. All user data including personal information, authentications and all broadcasts will be <em> deleted permanently </em>. Use with care. 
        </div>
      </div>
    </div>
