<div class="content">
  <div class="page-header">
    <h1>Wipe <small>delete a Shelby user</small></h1>
  </div>
  <div id="wipe-content" class="row">
    <div class="span14">
    <div class="span6 alert-message block-message success">
      <p>
          Use wipe to delete a Shelby account. All user data including personal information, authentications and all broadcasts will be <em> deleted permanently </em>. <strong>Use with care. </strong>
      </p>
      <br>
      <p>
        <strong>To delete a twitter account</strong> use the twitter handle without the '@'. E.g. @bob -> bob.
      </p>
      <br>
      <p>
        <strong>To delete a facebook account</strong> use the full name joined by a '.' E.g. Bob Greenless -> bob.greenless 
      </p>
    </div>
      <input id="wipe-username" class="input-large" type="text" placeholder="Username">
      <button id="submit-wipe" class="btn" type="submit">Wipe user</button>
    </div>
  </div>
  <br>
	<div id="wipe-loading" class="span6">
    <div class="alert-message block-message warning">
      <p><strong>Now contacting the wipe server</strong> This can take up to 30 seconds, the elves are working.</p>
      <br>
      <p><img id="wipe-loading-img" src="/images/loading.gif" /></p>
    </div>
  
</div>
